{% extends 'base.html' %}
{% block content%}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>NhseeProject</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load staticfiles %}
  <link  rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  .heading{
      margin:192px 0px 0px 760px;
  }
  .heading h1{
  font-family: "Times New Roman", Times, serif;
  }
  </style>
</head>
<body>
<div class="heading">
<h1>WELCOME NHSEE</h1>
</body>
{% endblock %}
