{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>

 <meta charset="utf-8">

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
 <style>
 .heading h2{
   margin: 99px 0px -220px 702px;
 }

 .table {

   width: 115%;}
   .box{
 width:25px;
 height:10px;
}

.red{
 background:#f00;
}

.green{
 background:#6dcc42;
}
input[type=submit]{
 margin:9px 2px 4px 0px;
 background-color:#babac2e8;
 padding: 6px 28px 5px 26px;
}
   </style>

</head>
{% include   'judgesform.html' %}
 <table class="table">
 <thead class="thead-dark">
   <tr>

     <th scope="col">Judges</th>
     <th scope="col">Status</th>
     <th scope="col">Selection</th>

   </tr>
 </thead>
   {% if judgesval %}
   <tbody>

   <form  action='' method="post" >
                                   {% csrf_token %}


       {% for judges in judgesval %}
       <tr>
           
           <td> {{judges.judge_name}}</td>


           <input type="hidden" name="judge_id" value ={{judges.judge_id}} />


           {% if judges.judgestatus  == "True" %}
             <td> <div class="box green"></div></td>
             <td><input type='submit' name="judgeprojects"  value="Submit" disabledx/></td>
           {% else %}
             <td> <div class="box red"></div></td>
             <td><input type='submit' name="judgeprojects"  value="Submit" /></td>

           {% endif %}







       </tr>


       {% endfor %}
       </form>
       {% else %}
           <div class="heading"><h2>No judges Available<h2></div>
       {% endif %}



   </tbody>
   </table>


{% endblock content %}
